
body {
font-size:12px;font-family:verdana,Helvetica,sans-serif;
}

iframe {
margin-left: auto;   /* Automatic margin from left */ 
margin-right: auto;
width:100%;
}

#frmAction {
margin-top:30px;
}

#frmData {
position:relative;
}

table {
font-size:12px;font-family:verdana,Helvetica,sans-serif;border-collapse:collapse;margin-top:30px;margin-left:auto;margin-right:auto;
}

caption {
font-size:16px;padding:10px;
}

tr {
text-align:left;padding:10px;
}

th, td {
padding:10px;border:0px solid;
}

img:hover, img:active {
cursor: pointer;
}

textarea {
outline:none;border:none;border-radius:5px;background-color:background-color:transparent; //#F5F5F5;";
}

input[type=text],[type=password] {
width:230px;height:30px;outline:none;border:0px solid;border-radius:5px;background-color:transparent;
}

button, #btnSave, #acctSave {
color:black;
padding:5px;
outline:none;
border:0px;
background-color:transparent;
}

button:hover, button:active, #btnSave:hover, #btnSave:active, #acctSave:hover, #acctSave:active {
/*background-color: #e6f5ff;*/
opacity: 0.8;
border-bottom : 2px solid black;
cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  //overflow-y: visible;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

.modal-content {
  //background-color: #fefefe;
  background-color: #fefefe;
  margin-top: 5%; /* 15% from the top and centered */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 2px solid black;
  width: 60%; /* Could be more or less, depending on screen size */
  min-height:300px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
